<!DOCTYPE html>  
<html>  
<head>  
    <title>Add a trade</title>  
    <title>{{t}}</title>  
        <!-- href="/static/assets/style.css"-->  
        <link rel="stylesheet" type="text/css"  href="mystyle.css" >
        <!--<link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='/mystyle.css')}}" >  -->
</head>  
<body>
    <header>
        <div class="topPad">
                <ul class="header-contact">
                    PersonaMX
                    <li style="float: right">Login: user</li>
                </ul>
            </div>  
        <div class="navContainer">
            <nav>
                <ul class="topnav">
                    <li><a class="active" href="add.html">Add trades</a></li>
                    <li><a href="view.html">View trades</a></li>
                </ul>
            </nav>
        </div> 
    </header>
      <br><br><br>
    <div id="slide" class="contactContainer">            
        <form name="contact" action="/addTrade" onsubmit="return validateForm()" method="post">
            <input type="number" id="id" name="id" placeholder="Trade ID">
            <input type="text" id="date" name="tdate" placeholder="Trade date">
            <input type="text" id="date" name="edate" placeholder="Expire date">
            <input type="text" id="buyCpt" name="buyCpt" placeholder="Buy CPT">
            <input type="text" id="sellCpt" name="sellCpt" placeholder="Sell CPT">
            <label class="container">INT
            <input type="radio" id="status" name="status">
            <span class="checkmark"></span></label>
            <label class="container">MATCH
            <input type="radio" id="status" name="status">
            <span class="checkmark"></span></label><br><br>
            <label class="container">BID
            <input type="radio" id="type" name="type">
            <span class="checkmark"></span></label>
            <label class="container">OFFER
            <input type="radio" id="type" name="type">
            <span class="checkmark"></span></label><br><br>
            <input type="text" id="asset" name="asset" placeholder="Asset">
            <input type="number" id="amount" name="amount" placeholder="Amount">
            <input type="number" id="price" name="price" step="any" placeholder="Price">
            <label class="container">VAULTION
            <input type="radio" id="vault" name="vault">
            <span class="checkmark"></span></label>
            <label class="container">VAULTANY
            <input type="radio" id="vault" name="vault">
            <span class="checkmark"></span></label><br><br>
            <input type="submit" name="submit" value="Enter trade">
        </form>
    </div>
    
    <script>
        n =  new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        h = n.getHours()
        mi = n.getMinutes()
        s = n.getSeconds()
        document.getElementById("date").value = d + "/" + m + "/" + "/" + y + " " + h + ":" + mi + ":" + s;
    </script>
</body>
</html>  